version: '3.8'

services:
  seed-node-1:
    build: .
    network_mode: "host"
    command: [ "--port", "9333", "--bind", "0.0.0.0", "--rpcport", "9337" ]
    volumes:
      - .:/app

  seed-node-2:
    build: .
    network_mode: "host"
    command: [ "--port", "9334", "--bind", "0.0.0.0", "--addnode", "127.0.0.1:9333", "--rpcport", "9338" ]
    volumes:
      - .:/app
    depends_on:
      - seed-node-1

  seed-node-3:
    build: .
    network_mode: "host"
    command: [ "--port", "9335", "--bind", "0.0.0.0", "--addnode", "127.0.0.1:9333", "--rpcport", "9339" ]
    volumes:
      - .:/app
    depends_on:
      - seed-node-1

  stun-turn-server:
    image: coturn/coturn
    network_mode: "host"
    volumes:
      - ./turnserver.conf:/etc/coturn/turnserver.conf
    # Coturn uses 3478 UDP/TCP by default. Host mode exposes this directly.
    deploy:
      restart_policy:
        condition: on-failure
